*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 30pt;
    font-family: 'Lora', serif;
    height: 100%; 
    /* Método para no dejar schroll */
    /* overflow: hidden */
}

img {
    width: 100%;
}

main {
    margin-bottom: 150px;
}

footer {
    height: 20vh;
    
}

.starting-screen {
    background-color: gray; 
    width: 30%;
    margin: auto, auto;
    justify-content: center;
    align-items: center;

}

.game-info {
    align-items: center;
    text-align: center;
    background-color: #b7b7a4;
    
    
}

.game-modes {
    justify-content: center;
    text-align: center;
    background-color: #cb997e;
   
}

#start-button {
    display: flex;
    margin-left: 45%;
    margin: 0, auto;
}

.user-input {
    display: flex;
    background-color: #a5a58d;
    
    
}